<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-center margin-top margin-bottom">
      <ul class="nav nav-tabs nav-justified red" id="margin-top">
        <li class="nav-item pagination-centered text-center" id="">
          <%= link_to "Back to Academic Profile index", evaluations_path(:student_id => @student.id) %>
        </li>
        <li class="nav-item pagination-centered text-center" id="">
          <%= link_to "Back to student Academic Profile", exercises_evaluation_path(:student_id => @student.id) %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-12">
      <h3 class="text-center">
        Daily Exercises
      </h3>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-6 col-md-offset-3 margin-top margin-bottom" id="soft-borders">
      <div class="col-md-11" >
        <h2>
          <%= @evaluation.study_period.student.first_name %> <%= @evaluation.study_period.student.last_name %>
        </h2>
      </div>
      <div class="col-md-1">
        <%= image_tag @evaluation.study_period.student.image_url(:thumb).to_s %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 attendances" >
      <%= render "attendances/attendance_list" %>
    </div>
    <div class="col-md-6 targets">
      <%= render "targets/target_list" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 sharp_and_smarts">
      <%= render "sharp_and_smarts/sharp_and_smart_list" %>
    </div>
    <div class="col-md-6 automatizations">
      <%= render "automatizations/automatization_list" %>
    </div>
  </div>
</div>
<div class="modal fade" id="new_sharp_and_smart_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sharp 'n Smart</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:sharp_and_smart, :url => sharp_and_smarts_path(:evaluation_id => @evaluation.id), remote:true, :html => {:id=>"sns-form"}) do |f| %>
            <%= render(:partial => "sharp_and_smarts/form", :locals => {:f => f})%>
            </div>
            <div class="modal-footer">
              <%= submit_tag("Mark Sharp 'n Smart", :class => 'btn btn-success') %>
            </div>
        <% end %>
        </div>
  </div>
</div>
<div class="modal fade" id="new_automatization_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Automatization</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:automatization, :url => automatizations_path(:evaluation_id => @evaluation.id), remote:true, :html => { :id=>"automatization-form" }) do |f| %>
            <%= render(:partial => "automatizations/form", :locals => {:f => f})%>
            </div>
            <div class="modal-footer">
              <%= submit_tag("Add automatization", :class => 'btn btn-success') %>
            </div>
        <% end %>
        </div>
  </div>
</div>
<div class="modal fade" id="new_target_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Daily Target</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:target, :url => targets_path(:evaluation_id => @evaluation.id), remote:true, :html => {:id=>"target-form"}) do |f| %>
            <%= render(:partial => "targets/form", :locals => {:f => f})%>
            </div>
            <div class="modal-footer">
              <%= submit_tag("Add Daily Target", :class => 'btn btn-success') %>
            </div>
        <% end %>
        </div>
  </div>
</div>
<div class="modal fade" id="new_attendance_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Attendance</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:attendance, :url => attendances_path(:evaluation_id => @evaluation.id), remote:true, :html => {:id=>"att-form"}) do |f| %>
            <%= render(:partial => "attendances/form", :locals => {:f => f, :grade => 85.00})%>
            </div>
            <div class="modal-footer">
              <%= submit_tag("Create attendance record", :class => 'btn btn-success') %>
            </div>
        <% end %>
        </div>
  </div>
</div>
<div class="modal fade" id="edit_target_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Target</h4>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="edit_attendance_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Attendance</h4>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="edit_automatization_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Automatization</h4>
      </div>
      </div>
  </div>
</div>
<div class="modal fade" id="edit_sharp_and_smart_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sharp 'n Smart</h4>
      </div>
    </div>
  </div>
</div>
