<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        Accelerated Preparation Program Index
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-center margin-top margin-bottom">
      <ul class="nav nav-tabs nav-justified red" id="margin-top">
        <li class="nav-item">
          <%= link_to "Create APP", new_fixed_duration_program_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 margin-top padding-bottom padding-top section-white" id="student-panel soft-borders">
      <h3 class="header3-bottom margin-bottom">
        List of APP's
      </h3>
      <table class="table table-hover margin-top" id="program_table">
        <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Name
          </th>
          <th>
            Duration in weeks
          </th>
          <th>
            cost
          </th>
          <th>
            Actions
          </th>
        </tr>
        </thead>
        <tbody>
        <% @count = 0 %>
        <% @fixed_duration_programs.each do |fixed_duration_program|%>
            <tr>
              <td>
                <%= @count += 1 %>
              </td>
              <td>
                <%= fixed_duration_program.name %>
              </td>
              <td>
                <%= fixed_duration_program.duration_weeks %>
              </td>
              <td>
                <%= fixed_duration_program.cost %>
              </td>
              <td>
                <%= link_to "Edit APP", edit_fixed_duration_program_path(fixed_duration_program.id) %>

                <%= link_to "Delete APP", delete_fixed_duration_program_path(fixed_duration_program.id) %>

                <%= link_to "Show APP",  fixed_duration_program_path(fixed_duration_program.id) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
