<td>
  <%= (l target.created_at.to_date, :format => :long) %>
</td>
<td>
  <%= (l target.date, :format => :long) %>
</td>
<td>
  <%= target.description %>
</td>
<td>
  <%= target.letter_grade %>
</td>
<td>
  <%= target.student_input %>
</td>
<td>
<% if policy(:target).edit? %>
  <div class="col-md-12">
    <%= link_to "Edit", edit_target_path(:id => target.id, :evaluation_id=>@evaluation.id, detail_view: 1),
                remote: true, class: "btn btn-default link-justify-absence", title: t('justify_absence'), 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>

  </div>
<% end %>
</td>
<div class="modal fade" id="edit_target_modal_<%= target.evaluation.study_period.student.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Target</h4>
      </div>
    </div>
  </div>
</div>
