<body id="page1">
<div class="container">
  <span style="float: right"><%= link_to 'To PDF', student_invoice_path(student_id: @invoice.student.id, id: @invoice.id, :format => :pdf), :class =>'btn btn-danger btn-inverse' %></span>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag('logo3.png', class: 'statement_logo') %>
        </div>
        <div class="col-md-4">
          <h3 class="horizontal_align">
            <span class="statement_title ntailu">STUDENT </span> <span class="statement_title ntailub">INVOICE</span>
          </h3>
        </div>
        <div class="col-md-4 statement_date ntailu">
          <p>
            Date: <%= @invoice.created_at.to_date.to_formatted_s(:long) %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="">
        <span class="statement_subtitle ntailu">Invoice </span> <span class="statement_subtitle ntailub">To :</span>
      </h3>
      <div class="row">
        <div class="col-md-12 dotted-border">
          <table class="table no-row-borders paragraph_letter ntailu small-vertical-margin" id="">
            <tbody>
            <tr id="row">
              <div class="col-md-12">
                <td class="col-md-2">
                  Student Name:
                </td>
                <td class="col-md-3">
                  <%= @invoice.student.first_name %> <%= @invoice.student.last_name %>
                </td>
                <td class="col-md-1">
                </td>
                <td class="col-md-2">
                </td>
                <td class="col-md-2">
                </td>
                <td class="col-md-2">
                </td>
              </div>
            </tr>
            <tr>
              <td>
                Invoice Date:
              </td>
              <td>
                <%= @invoice.created_at.to_date.to_formatted_s(:long) %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                Program Duration:
              </td>
              <td>
                <%= @invoice.duration_weeks %> weeks
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                Start Date:
              </td>
              <td>
                <%= @invoice.start_date.to_formatted_s(:long) %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                End Date:
              </td>
              <td>
                <%= @invoice.end_date.to_formatted_s(:long) %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                Nationality:
              </td>
              <td>
                <%= @invoice.student.nationality %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                Mobile:
              </td>
              <td>
                <%= @invoice.student.phone_number %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                E-mail:
              </td>
              <td>
                <%= @invoice.student.email_address %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin-top">
    <div class="col-md-12 dotted-border">
      <table class="table no-row-borders paragraph_letter ntailu small-vertical-margin" id="">
        <thead>
        <tr>
          <th>
            Description
          </th>
          <th>
            Program(s) / weeks
          </th>
          <th>
            Price per unit
          </th>
          <th>
            Special Promotion
          </th>
          <th>
            Total
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <% if !@invoice.program.nil? %>
                <%= @invoice.program.title %>
            <% else %>
                <p>Program not chosen</p>
            <% end %>
          </td>
          <td>
            <%= @invoice.duration_weeks %>
          </td>
          <td>
            <% if !@invoice.program.nil? %>
                <%= to_cad(number_with_precision(@invoice.post_rebate_program_cost, :precision =>2)) %>
            <% else %>
                <p>Program not chosen</p>
            <% end %>
          </td>
          <td class="no-padding">
            <table class="table no-margin-bottom" width="100%">
              <tbody>
              <% @sum = 0 %>
              <% @i = 0%>
              <% @invoice.promos.where(:type_of_promo => "rebate").order(number: :desc).each do |promo| %>
                  <% @i += 1%>
                  <tr>
                    <td id="">
                      <%= promo.percentage %>%
                    </td>
                    <td id="">
                      <% if @i == 1 %>
                          <% @sum = @invoice.rebate_result(@invoice.post_rebate_program_cost, promo.number)%>
                          <%= number_with_precision(@invoice.rebate_result(@invoice.post_rebate_program_cost, promo.number).to_f, :precision => 2) %>
                      <% else %>
                          <%= number_with_precision(@invoice.rebate_result(@sum, promo.number).to_f, :precision => 2) %>
                          <% @sum = @invoice.rebate_result(@sum, promo.number) %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              <% @sum = 0 %>
              <% @i = 0%>
              <% @invoice.promos.where(:type_of_promo => "Special rebate").order(number: :desc).each do |promo| %>
                  <% @i += 1%>
                  <tr>
                    <td id="">
                      <%= content_tag(:strong, :class=>"special-promo") do %>
                          <%= promo.percentage %>%
                      <% end %>
                    </td>
                    <td id="">
                      <%= content_tag(:strong, :class=>"special-promo") do %>
                          <% if @i == 1 %>
                              <% @sum = @invoice.rebate_result(@invoice.post_rebate_program_cost, promo.number)%>
                              <%= number_with_precision(@invoice.rebate_result(@invoice.post_rebate_program_cost, promo.number).to_f, :precision => 2) %>
                          <% else %>
                              <%= number_with_precision(@invoice.rebate_result(@sum, promo.number).to_f, :precision => 2) %>
                              <% @sum = @invoice.rebate_result(@sum, promo.number) %>
                          <% end %>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </td>
          <td>
            <%= to_cad(@invoice.program_total.round.to_f) %>
          </td>
        </tr>
        <% @invoice.fixed_duration_programs.each do |fdp| %>
            <tr>
              <td>
                <%= fdp.name %>
              </td>
              <td>
                <%= fdp.duration_weeks %>
              </td>
              <td>
                <%= to_cad(number_with_precision(fdp.cost, :precision =>2)) %>
              </td>
              <td class="no-padding">
                <table class="table no-margin-bottom" width="100%">
                  <tbody>
                  <% @sum = 0 %>
                  <% @i = 0%>
                  <% fdp.promos.where(:type_of_promo => "rebate").order(number: :desc).each do |promo| %>
                      <% @i += 1%>
                      <tr>
                        <td id="">
                          <%= promo.percentage %>%
                        </td>
                        <td id="">
                          <% if @i == 1 %>
                              <% @sum = @invoice.rebate_result(fdp.cost, promo.number)%>
                              <%= number_with_precision(@invoice.rebate_result(fdp.cost, promo.number).to_f, :precision => 2) %>
                          <% else %>
                              <%= number_with_precision(@invoice.rebate_result(@sum, promo.number).to_f, :precision => 2) %>
                              <% @sum = @invoice.rebate_result(@sum, promo.number) %>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  <% @sum = 0 %>
                  <% @i = 0%>
                  <% fdp.promos.where(:type_of_promo => "Special rebate").order(number: :desc).each do |promo| %>
                      <% @i += 1%>
                      <tr>
                        <td id="">
                          <%= content_tag(:strong, :class=>"special-promo") do %>
                              <%= promo.percentage %>%
                          <% end %>
                        </td>
                        <td id="">
                          <%= content_tag(:strong, :class=>"special-promo") do %>
                              <% if @i == 1 %>
                                  <% @sum = @invoice.rebate_result(fdp.cost, promo.number)%>
                                  <%= number_with_precision(@invoice.rebate_result(fdp.cost, promo.number).to_f, :precision => 2) %>
                              <% else %>
                                  <%= number_with_precision(@invoice.rebate_result(@sum, promo.number).to_f, :precision => 2) %>
                                  <% @sum = @invoice.rebate_result(@sum, promo.number) %>
                              <% end %>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </td>
              <td>
                <%= to_cad(fdp.price_after_promotions.round) %>
              </td>
            </tr>
        <% end %>
        <% if @invoice.accommodation.present? && @invoice.accommodation.type_of_accommodation != "None" %>
            <tr>
              <td>
                <%= @invoice.accommodation.type_of_accommodation %> from <%= @invoice.start_date_accommodation %> to <%= @invoice.end_date_accommodation %>
              </td>
              <td>
                <%= @invoice.accommodation_duration %>
              </td>
              <td>
                <%= to_cad(number_with_precision(@invoice.accommodation.cost, :precision =>2)) %>
              </td>
              <td>
              </td>
              <td>
                <%= to_cad(number_with_precision(@invoice.accommodation_total, :precision =>2)) %>
              </td>
            </tr>
        <% end %>
        <% @invoice.items.each do |item| %>
            <tr>
              <td>
                <%= item.name %>
              </td>
              <td>
                <%= item.quantity %>
              </td>
              <td>
                C$ <%= number_with_precision(item.price_per_unit, :precision =>2) %>
              </td>
              <td>
              </td>
              <td>
                C$ <%= number_with_precision(item.total, :precision =>2) %>
              </td>
            </tr>
        <% end %>
        <% if @invoice.insurance.present? %>
          <tr>
            <td>
              <%= @invoice.insurance.name %> from <%= @invoice.start_date_insurance %> to <%= @invoice.end_date_insurance %>
            </td>
            <td>
              <%= @invoice.insurance_cover_period %>
            </td>
            <td>
              C$ <%= number_with_precision(@invoice.insurance.cost, :precision =>2) %>
            </td>
            <td>
            </td>
            <td>
              C$ <%= number_with_precision(@invoice.insurance_cost, :precision =>2) %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <strong>Total Invoice</strong>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            <strong><%= to_cad(number_with_precision(@invoice.total_amount, :precision =>2)) %></strong>
          </td>
        </tr>
        <% if @invoice.previous_balance? && !@invoice.prev.nil? %>
            <tr>
              <td>
                <strong>Previous Balance</strong>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
                <% unless @invoice.prev.nil? %>
                    <%= to_cad(number_with_precision(@invoice.prev.balance, :precision =>2)) %>
                <% else %>
                    <%= to_cad(number_with_precision(@invoice.balance, :precision =>2)) %>
                <% end %>
              </td>
            </tr>
        <% end %>
        <% if @invoice.show_payments? %>
            <% @payments_count = 0 %>
            <% @invoice.payments.each do |payment| %>
                <% @payments_count += 1 %>
                <tr>
                  <td>
                    Payment <%= @payments_count %>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                    <%= to_cad(number_with_precision(payment.amount, :precision =>2)) %>
                  </td>
                </tr>
            <% end  %>
        <% end  %>
        <% if @invoice.show_balance? %>
            <tr>
              <td>
                <strong>Outstanding Balance</strong>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
                <%= to_cad(number_with_precision(@invoice.balance, :precision =>2)) %>
              </td>
            </tr>
        <% end  %>
        </tbody>
      </table>
    </div>
  </div>
  <% if @invoice.show_bank_info? %>
      <div class="row">
        <div class="row margin-top">
          <div class="col-md-12 margin-top">
            <h5>Important</h5>
            <div class="col-md-5 paragraph_letter">
              <p>All fees due before program start date</p>

              <p>Bank fees are responsibility of the sender</p>
            </div>
          </div>
        </div>
        <div class="col-md-10 dotted-border paragraph_letter margin-top">
          <div class="col-md-12 margin-top">
            <p>Please make payment to:</p>
          </div>
          <div class="col-md-6">
            <p>Account Holder:</p>
          </div>
          <div class="col-md-6">
            <p>ATPAL Westminster</p>
          </div>
          <div class="col-md-6">
            <p>Account Holder Address:</p>
          </div>
          <div class="col-md-6">
            <p>1117 Ste. Catherine W Suite 507

              Montreal- QC H3B 1H9</p>
          </div>
          <div class="col-md-6">
            <p>Account #:</p>
          </div>
          <div class="col-md-6">
            <p>1078 318</p>
          </div>
          <div class="col-md-6">
            <p>CAD Transit #:</p>
          </div>
          <div class="col-md-6">
            <p>01521</p>
          </div>
          <div class="col-md-6">
            <p>Institution #:</p>
          </div>
          <div class="col-md-6">
            <p>001</p>
          </div>
          <div class="col-md-6">
            <p>Swift:</p>
          </div>
          <div class="col-md-6">
            <p>BOFMCAM2</p>
          </div>
          <div class="col-md-6">
            <p>Bank:</p>
          </div>
          <div class="col-md-6">
            <p>Banque de Montreal</p>
          </div>
          <div class="col-md-6">
            <p>Bank Address:</p>
          </div>
          <div class="col-md-6 margin-bottom">
            <p>119 rue St Jacques, Montreal, QC

              Qc H2Y 1L6 - Canada</p>
          </div>
        </div>
      </div>
  <% end %>
</div>
</body>
