<body id="page2">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <%= image_tag "logo3.png", :id=>"center_logo" %>
          <h3 class="text-center main-title">
            School Management System
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <%= link_to students_path do %>
                  <figure class="box fig_adm">
                    <h4>Students</h4>
                    <div class="ipc">
                      <%= image_tag "students.png", :id=>"img-format" %>
                    </div>
                  </figure>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to quotes_path do %>
                <figure class="box fig_adm">
                  <h4>Quotes</h4>
                  <div class="ipc">
                    <%= image_tag "quotes.png", :id=>"img-format" %>
                  </div>
                </figure>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to pro_formas_path do %>
                <figure class="box fig_adm">
                  <h4>Pro Formas</h4>
                  <div class="ipc">
                    <%= image_tag "pforma.png", :id=>"img-format" %>
                  </div>
                </figure>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <%= link_to invoices_path do %>
                  <figure class="box fig_adm">
                    <h4>Invoices</h4>
                    <div class="ipc">
                      <%= image_tag "invoice.png", :id=>"img-format" %>
                    </div>
                  </figure>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to programs_path do %>
                <figure class="box fig_adm">
                  <h4>Programs</h4>
                  <div class="ipc">
                    <%= image_tag "programs.png", :id=>"img-format" %>
                  </div>
                </figure>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to accommodations_path do %>
                <figure class="box fig_adm">
                  <h4>Accommodations</h4>
                  <div class="ipc">
                    <%= image_tag "accommodations.png", :id=>"img-format" %>
                  </div>
                </figure>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <%= link_to promos_path do %>
                  <figure class="box fig_adm">
                    <h4>Promotions</h4>
                    <div class="ipc">
                      <%= image_tag "promos.png", :id=>"img-format" %>
                    </div>
                  </figure>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to agencies_path do %>
                <figure class="box fig_adm">
                  <h4>Agencies</h4>
                  <div class="ipc">
                    <%= image_tag "agencies.png", :id=>"agencies" %>
                  </div>
                </figure>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to payments_path do %>
                <figure class="box fig_adm">
                  <h4>Payments</h4>
                  <div class="ipc">
                    <%= image_tag "payment.png", :id=>"img-format" %>
                  </div>
                </figure>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
