<div class="form-group">
	<%= f.label(:adulthood_id, "Adult or Minor")%>
	<%= f.collection_select(:adulthood_id, Adulthood.all, :id, :name, {prompt: true}, :class=>"form-control") %>
</div>

<div class="form-group">
  <%= f.label(:type_of_accommodation, "Type of accommodation")%>
  <%= f.text_field(:type_of_accommodation, :class=>"form-control") %>
</div>
	
<div class="form-group">	
	<%= f.label(:cost, "Cost per week")%>
	<%= f.text_field(:cost, :class=>"form-control") %>
</div>

