<div class="container">
  <div class="row">
    <div class="col-md-7 col-center margin-top margin-bottom">
      <ul class="nav nav-tabs nav-justified red" id="margin-top">
        <li class="nav-item">
          <%= link_to "Accommodation index", accommodations_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Show accommodation", accommodation_path(:id => @accommodation.id) %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        Edit Accommodation
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="margin-bottom">
      <%= form_for(@accommodation, :url => accommodation_path, :html => {:method => :put}) do |f| %>

          <%= render(:partial => "form", :locals => {:f => f})%>

          <%= submit_tag("Save accommodation", :class => 'btn btn-success', :id=>"margin-top")%>

      <% end %>
    </div>
  </div>
</div>
