<h2 class="batch-table text-center">Sharp'n Smart</h2>

<h3 class="batch-table text-center">List of <%= @list_data[:group].humanize.split.map(&:capitalize).join(' ') %> <%= @list_data[:language].capitalize %> students </h3>

<div>
  <table class="table table-bordered batch-table table-striped" id="soft-borders">
    <thead>
    <tr>
      <th>Student</th>
      <th colspan="3">Latest Sharp'n Smart</th>
      <th >Register new Sharp'n Smart</th>
    </tr>
    <tr>
      <th></th>
      <th >Date</th>
      <th >Color</th>
      <th >Current set</th>
      <th >Average</th>
      <th style="border: 2px solid #ddd;">Actions</th>
    </tr>
    </thead>
    <% @students.each do |student| %>
      <tbody>
        <tr id='student_<%= student.id %>'>
          <%= render 'sharp_and_smarts/sharp_and_smart_table', student: student %>
        </tr>
        <tr>
          <td class="hidden-td">
            <div class="modal fade" id="new_sharp_and_smart_modal_<%= student.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Sharp'n Smart</h4>
                  </div>
                  <% if student.latest_evaluation.present? %>
                  <div class="modal-body">
                    <%= form_for(@sns, :url => sharp_and_smarts_path(:evaluation_id => student.latest_evaluation.id), remote:true, :html => {:id=>"sns-form_#{student.id}"}) do |f| %>
                      <%= render(:partial => "sharp_and_smarts/form", :locals => {:f => f})%>
                      </div>
                      <div class="modal-footer">
                        <%= submit_tag("Mark Sharp 'n Smart", :class => 'btn btn-success') %>
                      </div>
                    <% end %>
                  </div>
                  <% end %>
              </div>
            </div>
            <div class="modal fade" id="edit_sharp_and_smart_modal_<%= student.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Sharp'n Smart</h4>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>