<div class="container">
  <div class="row">
    <div class="col-md-7 col-center margin-top margin-bottom">
      <ul class="nav nav-tabs nav-justified red" id="margin-top">
        <li class="nav-item">
          <%= link_to "Program index", programs_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Edit program", edit_program_path(:id => @program.id) %>
        </li>
        <li class="nav-item">
          <%= link_to "Show program", program_path(:id => @program.id) %>
        </li>
      </ul>
    </div>
  </div>
  <% if @program.errors.full_messages.any? %>
      <% @program.errors.full_messages.each do |error_message| %>
          <div class="notice flash-notice margin-top">
            <%= error_message if @program.errors.full_messages.first == error_message %><br />
          </div>
      <% end %>
  <% end %>
  <div class="row">
		<div class="col-md-12">
			<h3 class="text-center" id="margin-bottom">
				Delete Program
			</h3>
		</div>
	</div>
	<div class="row" id="soft-borders">
		<div class="col-md-6" id="soft-borders">
			<table class="table table-striped" id="margin-top">
				<tr>
					<th>Type</th>
					<td><%= @program.title %></td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<h3>
				Are you sure you want to delete <%= @program.title %>?
			</h3>
			<p id="margin-top">
			<%= form_for(:program, :url => program_path(:id => @program.id), :html => { :method => :delete }) do |f| %>
			
				<%= submit_tag("Delete program", :class=>"btn btn-danger") %>
			
			<% end %>
			</p>
		</div>
	</div>
</div>
