<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        Study Periods
      </h3>
    </div>
  </div>
  <!--<div class="row">-->
    <!--<div class="col-md-2 col-center margin-top margin-bottom">-->
      <!--<ul class="nav nav-tabs nav-justified red" id="margin-top">-->
        <!--<li class="nav-item">-->
          <!--<%= link_to "Create Program", new_program_path %>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row">
    <div class="col-md-12 margin-top padding-bottom padding-top section-white" id="student-panel soft-borders">
      <h3 class="header3-bottom margin-bottom">
        List of <%= @student.complete_name %>'s study periods
      </h3>
      <table class="table table-hover margin-top" id="sp_table">
        <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Study period id
          </th>
          <th>
            Type
          </th>
          <th>
            Number of hours per week
          </th>
          </th>
          <th>
            Actions
          </th>
        </tr>
        </thead>
        <tbody>
        <% count = 0 %>
        <% @study_periods.each do |sp|%>
            <tr>
              <td>
                <%= count += 1 %>
              </td>
              <td>
                <%= sp.id %>
              </td>
              <td>
                <%= sp&.program&.title %>
              </td>
              <td>
                <%= sp&.program&.lessons_per_week %>
              </td>
              <td>
                <%= link_to "View study period", student_study_period_path(student_id: sp.student.id, id: sp.id) %> |
                <%= link_to "Edit study period",  edit_student_study_period_path(:student_id => sp.student.id, id: sp.id) %> |
                <%= link_to "Academic profiles (evaluations)", evaluations_path(student_id: sp.student.id, study_period_id: sp.id) %> |
                <%= link_to "Delete", delete_student_study_period_path(student_id: sp.student.id, id: sp.id) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>