<div class="container">
  <div class="row">
    <div class="col-md-3 col-center margin-top margin-bottom">
      <ul class="nav nav-tabs nav-justified red" id="margin-top">
        <li class="nav-item pagination-centered text-center" id="">
          <%= link_to "Show region", region_path(:id=> @region.id) %>
        </li>
        <li>
          <%= link_to "Region index", regions_path %>
        </li>
      </ul>
    </div>
  </div>
  <% if @region.errors.full_messages.any? %>
      <% @region.errors.full_messages.each do |error_message| %>
          <div class="notice flash-notice margin-top">
            <%= error_message if @region.errors.full_messages.first == error_message %><br />
          </div>
      <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center" id="margin-bottom">
        Delete Region
      </h3>
    </div>
  </div>
  <div class="row" id="soft-borders">
    <div class="col-md-6" id="soft-borders">
      <table class="table table-striped" id="margin-top">
        <tr>
          <th>Type</th>
          <td><%= @region.name %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h3>
        Are you sure you want to delete <%= @region.name %>?
      </h3>
      <p id="margin-top">
        <%= form_for(:region, :url => region_path(:id => @region.id), :html => { :method => :delete, :id=>"promo_select" }) do |f| %>

            <%= submit_tag("Delete region", :class=>"btn btn-danger") %>

        <% end %>
      </p>
    </div>
  </div>
</div>