<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-center margin-top margin-bottom">
      <ul class="nav nav-tabs nav-justified red" id="margin-top">
        <li class="nav-item pagination-centered text-center" id="">
          <%= link_to "Back to Academic Profile index", evaluations_path(:student_id => @evaluation.study_period.student.id) %>
        </li>
        <li class="nav-item pagination-centered text-center" id="">
          <%= link_to "Back to student Academic Profile", exercises_evaluation_path(:id => @evaluation.study_period.student.id, :student_id => @evaluation.study_period.student.id) %>
        </li>
        <% if policy(@evaluation.tests).new? %>
            <li class="nav-item pagination-centered text-center" id="">
              <%= link_to "Create and upload test", new_test_path(:evaluation_id => @evaluation.id)%>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
	<div class="row">
		<div class="col-md-12">
      <%= link_to 'PDF Report', tests_path(:evaluation_id=>@evaluation.id, :format => :pdf), :class =>'btn btn-danger btn-inverse' %>
			<div class="page-header">
				<h2 class="text-center font-open-sans">
					Test index for <%= @evaluation.study_period.student.first_name%> <%= @evaluation.study_period.student.last_name%>
				</h2>
			</div>
			<div class="row">
				<div class="col-md-7">
					<h3 class="text-center">
						List
					</h3>
					<div class="col-md-12 section-white">
            <div class="col-md-12 margin-bottom-40">
              <h4 class="header4-bottom margin-bottom text-center">
                Tests
              </h4>
            </div>
						<div class="col-md-12">
							<table class="table table-striped margin-top" id="test_index_table">
								<thead>
									<tr>
										<th>
											#
										</th>
										<th >
											Date
										</th>
										<th >
											Level
										</th>
										<th >
											Grade
										</th>
										<th >
											Letter grade
										</th>
                    <th>
                    Test file
                  </th>
                    <th>
                      Actions
                    </th>
									</tr>
								</thead>
								<tbody>
									<% @count = 0 %>
									<% @tests.each do |test| %>
									<tr>
										<td>
											<%= @count += 1 %>
										</td>
										<td>
											<%= (l test.date, :format => :long) unless test.date.nil? %>
										</td>
										<td>
											<%= test.level.humanize %>
										</td>
										<td>
											<%= test.grade_percentage %>%
										</td>
										<td>
											<%= test.letter_grade %>
										</td>
                    <td>
                      <% if !test.attachment.file.nil? && test.attachment.file.exists? %>
                        <%= link_to 'Download test', test.attachment_url %>
                      <% else %>
                        No file uploaded
                      <% end %>
                    </td>
                    <td>
                      <% if policy(test).edit? %>
                          <%= link_to "Edit Test", edit_test_path(:id => test.id)%>
                      <% end %>
                    </td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<h3 class="text-center">
						Progress Graphs
					</h3>
						<div class="col-md-12">
							<div class="section-white margin-bottom">
								<h4 class="text-center header4-bottom">
									Line Chart
								</h4>
								<%= line_chart [{name: "Grade", data: @tests.limit(15).map{|t| [t.date, t.grade_percentage] }}], library: {vAxis: {
                    viewWindow: {
                        min: 0,
                        max: 105
                    },
                    ticks: [0, 25, 50, 75, 100]}, hAxis: {format: 'dd/MM/yy' }, curveType: 'function', legend: { position: 'right'}} %>
							</div>
							<div class="section-white margin-top">
								<h4 class="text-center header4-bottom">
									Pie Chart
								</h4>
								<%= pie_chart @tests.group(:letter_grade).count, library: {legend: {position: 'bottom', textStyle: {color: 'black', fontSize: 14}}, 
								colors: ['#729f98', '#aa863a', '#e6af4b', '#bcd5d1', '#f6c7b6']} %>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>