<div class="form-group field col-xs-12">
	<div class="">
		<%= f.label(:hour, "Hour of arrival")%>
	</div>
	<div class="">
		<%= f.text_field(:hour, :class=>"form-control", :id=>"time-field") %>
	</div>
	<br />
	
	<div class="">
		<%= f.label(:penalty, "Penalty %")%>
		<%= f.text_field(:penalty, :class=>"form-control", :id=>"penalty", :value => "100.00", :readonly => true) %>
	</div>
	
	<div class="">
		<%= f.label(:grade, "Grade %")%>
		<%= f.text_field(:grade, :class=>"form-control", :id=>"grade", :value => "0.00", :readonly => true) %>
	</div>
</div>

<div class="col-xs-12"><%= f.radio_button :absent, 'Absent', :checked => true, :id=>"att_abs" %> <%= f.label :absent, "Absent", :value => true %></div>

<div class="col-xs-12"><%= f.radio_button :absent, 'Present', :id=>"att_pres" %> <%= f.label :absent, "Present", :value => false %></div>

