<h2 class="text-center main-title"> Groups </h2>

<div class="text-center ">
  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'beginner_a'), class: "hvr-pulse-grow" do %>
      <figure class="small-box">
        <div class="ipc-small">
          <%= image_tag "beginner_a.png", class: "type-icon"%>
        </div>
      </figure>
    <% end %>
  </div>

  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'beginner_b'), class: "hvr-pulse-grow" do %>
      <figure class="small-box">
        <div class="ipc-small">
          <%= image_tag "beginner_b.png", class: "type-icon"%>
        </div>
      </figure>
    <% end %>
  </div>

  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'intermediate_a'), class: "hvr-pulse-grow" do %>
        <figure class="small-box">
          <div class="ipc-small">
            <%= image_tag "intermediate_a.png", class: "type-icon"%>
          </div>
        </figure>
    <% end %>
  </div>

  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'intermediate_b'), class: "hvr-pulse-grow" do %>
        <figure class="small-box">
          <div class="ipc-small">
            <%= image_tag "intermediate_b.png", class: "type-icon"%>
          </div>
        </figure>
    <% end %>
  </div>

  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'intermediate_c'), class: "hvr-pulse-grow" do %>
        <figure class="small-box">
          <div class="ipc-small">
            <%= image_tag "intermediate_c.png", class: "type-icon"%>
          </div>
        </figure>
    <% end %>
  </div>
</div>

<div class="text-center ">
  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'intermediate_d'), class: "hvr-pulse-grow" do %>
        <figure class="small-box">
          <div class="ipc-small">
            <%= image_tag "intermediate_d.png", class: "type-icon"%>
          </div>
        </figure>
    <% end %>
  </div>

  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'intermediate_e'), class: "hvr-pulse-grow" do %>
        <figure class="small-box">
          <div class="ipc-small">
            <%= image_tag "intermediate_e.png", class: "type-icon"%>
          </div>
        </figure>
    <% end %>
  </div>

  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'intermediate_f'), class: "hvr-pulse-grow" do %>
        <figure class="small-box">
          <div class="ipc-small">
            <%= image_tag "intermediate_f.png", class: "type-icon"%>
          </div>
        </figure>
    <% end %>
  </div>
</div>

<div class="text-center ">
  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'advanced_a'), class: "hvr-pulse-grow" do %>
        <figure class="small-box">
          <div class="ipc-small">
            <%= image_tag "advanced_a.png", class: "type-icon"%>
          </div>
        </figure>
    <% end %>
  </div>

  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'advanced_b'), class: "hvr-pulse-grow" do %>
        <figure class="small-box">
          <div class="ipc-small">
            <%= image_tag "advanced_b.png", class: "type-icon"%>
          </div>
        </figure>
    <% end %>
  </div>

  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'advanced_c'), class: "hvr-pulse-grow" do %>
        <figure class="small-box">
          <div class="ipc-small">
            <%= image_tag "advanced_c.png", class: "type-icon"%>
          </div>
        </figure>
    <% end %>
  </div>
</div>

<div class="text-center ">
  <div class="col-lg-4 col-md-3 col-xs-4 level-divs">
    <%= link_to course_language_group_type_path(language: @language, group: 'no_group'), class: "hvr-pulse-grow" do %>
        <figure class="small-box">
          <div class="ipc-small">
            <%= image_tag "unknown.png", class: "type-icon"%>
          </div>
        </figure>
    <% end %>
  </div>
</div>