<body id="page2">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <%= image_tag "logo3.png", :id=>"center_logo" %>
          <h3 class="text-center main-title">
            School Management System
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <%= link_to academic_admin_index_path do %>
              <figure class="box fig-adm-aca">
                <h4>Academics</h4>
                <%= image_tag "book.png", :id=>"img-format-main" %>
              </figure>
              <% end %>
            </div>
            <div class="col-md-6">
              <%= link_to admin_index_path do %>
              <figure class="box fig-adm-aca">
                <h4>Administration</h4>
                <%= image_tag "admin.png", :id=>"img-format-main" %>
              </figure>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
